/*installation des polices d'écriture*/
@font-face {
    font-family: 'shannonbold';
    src: url('shannon_bold-webfont.eot');
    src: url('shannon_bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('shannon_bold-webfont.woff2') format('woff2'),
        url('shannon_bold-webfont.woff') format('woff'),
        url('shannon_bold-webfont.ttf') format('truetype'),
        url('shannon_bold-webfont.svg#shannonbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Corps global */
body {
    margin: 0 auto;
    background-color: #FFF;
}
/*Menu*/
.offcanvas-body{
    color: rgba(240, 255, 255, 0.099);
}

/*Toggle changement de langue*/
 
 #flag{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        object-fit: cover;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

 
/* Home */
h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 6rem;
    color: white;
    line-height: 70%;
    padding: 40px;
}

.hometitre {
    display: flex;
    justify-content: center;

}


h2 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 3em;
    color: #1d8585;
}

h4 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-transform: uppercase;
}

#Home h5 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.6rem;
}

#Home {
    background-image: url(../images/BackgroundHOme1.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
}

/* Lines animés */

.line1 {
    width: 0px;
    height: 1px;
    position: relative;
    z-index: 3;
    top: 18%;
    left: 65%;
    background-color: white;
    animation-name: example;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes example {
    from {
        width: 2px;
    }

    to {
        width: 200px;
    }
}

.line3 {
    width: 1px;
    height: 0px;
    position: relative;
    top: 0%;
    left: 0%;
    z-index: 3;
    background-color: white;
    animation-name: example3;
    animation-duration: 3s;
    animation-delay: 0.7s;
    animation-fill-mode: forwards;
}

@keyframes example3 {
    from {
        height: 1px;
    }

    to {
        height: 250px;
    }
}

.line2 {
    width: 0px;
    height: 1px;
    position: relative;
    z-index: 3;
    bottom: 8%;
    left: 35%;
    background-color: white;
    animation-name: example2;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
    animation-delay: 1.7s;
}

@keyframes example2 {
    from {
        width: 2px;
    }

    to {
        width: 200px;
    }
}




/* Présentation */
#Présentation {
    background-color: #F0F6F7;
    display: flex;
    flex-wrap: wrap;
    background-image: url(../images/ABOUT.webp);
    background-position: top 5% right 80%;
    background-repeat: no-repeat;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 8%;
    padding-right: 8%;
}

.PresentationLigne {
    padding: 3rem;
}

.about-left {
    justify-content: center;
    align-items: center;
}

.about-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

.about-right img {
    width: 16em;
}

.about-left a {
    margin-right: 0.5em;
}

.about-left p {
    padding-top: 3%;
    padding-bottom: 5%;
}


/* Compétences */
#Compétences {
    background-image: url(../images/SKILLS\ &\ TOOLS.webp);
    background-position: top 3% right 36%;
    padding-left: 8%;
    padding-right: 8%;
    background-repeat: no-repeat;
    padding-top: 2%;
    padding-bottom: 4%;
}

.CompetenceLigne {
    padding: 3rem;
}

/* Projets*/
#Projets {
    background-color: #F0F6F7;
    background-image: url(../images/ALL\ MY\ WORKS.webp);
    background-position: top 1% right 44%;
    background-repeat: no-repeat;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 8%;
    padding-right: 8%;
    width: 100%;
}

.ProjetLigne {
    padding: 3rem;
    width: 100%;
    justify-content: space-between;
}

.lesprojets {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    padding: 0%;
}

.container_article {
    margin-top: 8%;
    margin-bottom: 10%;
    display: flex;
    flex-wrap: nowrap;
}

#Projets img {
    width: 100%;
    height: 28vw;
    object-fit: cover;
}

#Projets a {
    text-decoration: none;
    color: white;
}

.boutonprojet {
    background-color: #1d8585;
    border-style: none;
    min-width: 100px;
    padding: 2% 3%;
    border-radius: 0.3em;
}

.titre_article {
    width: 20%;
}

.tourne {
    transform: rotate(270deg);
    position: relative;
    Top: 11.8rem;
    right: 10.5rem;
    margin: 0%;
    padding: 0%;
    width: 26rem;
    text-align: end;
    font-size: 2.2rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.tourne h3 {
    margin: 0%;
    padding: 0%;
}

h4 {
    margin-top: 3%;
    text-transform:none;
    margin-bottom: 0%;
    color: #31b6b2;
}

h5 {
    font-size: 1rem;
}

/*Caroussel*/
#CarrousselProjet {
    background-color: #F0F6F7;
    padding-bottom: 10%;
    padding-top: 2%;
    width: 100%;
    display: flex;
}

#wrapper {

    width: 50rem;
    perspective: 50rem;
    -webkit-perspective: 50rem;
    -moz-perspective: 50rem;
    margin: 0 auto 0 auto;

}

.carrousel {
    padding-top: 8%;
    padding-bottom: 30%;
    width: 12.5rem;
    height: 12.5rem;
    margin: 0 auto;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    animation: Caroussel 18s infinite linear;
    -webkit-animation: Caroussel 18s infinite linear;
    -moz-transform-style: preserve-3d;
    -moz-animation: Caroussel 18s infinite linear;
}

.carrousel:hover {
    animation-play-state: paused;
}

.plan {
    position: absolute;
    height: 12.5rem;
    width: 9.9rem;
    text-align: center;
    font-size: 8em;
    color: #FFF;
}

.plan img {
    width: 150px;
}


@keyframes Caroussel {

    from {
        -webkit-transform: rotateY(0);
    }

    to {
        -webkit-transform: rotateY(-360deg);
    }
}

@-webkit-keyframes Caroussel {

    from {
        -webkit-transform: rotateY(0);
    }

    to {
        -webkit-transform: rotateY(-360deg);
    }
}

@-moz-keyframes Caroussel {

    from {
        -moz-transform: rotateY(0);
    }

    to {
        -moz-transform: rotateY(-360deg);
    }
}

.p1 {
    -webkit-transform: translateZ(12.5rem);
    -moz-transform: translateZ(12.5rem);
    transform: translateZ(12.5rem);
}

.p2 {
    -webkit-transform: rotateY(45deg) translateZ(12.5rem);
    -moz-transform: rotateY(45deg) translateZ(12.5rem);
    transform: rotateY(45deg) translateZ(12.5rem);
}

.p3 {
    -webkit-transform: rotateY(90deg) translateZ(12.5rem);
    -moz-transform: rotateY(45deg) translateZ(12.5rem);
    transform: rotateY(90deg) translateZ(12.5rem);
}

.p4 {
    -webkit-transform: rotateY(135deg) translateZ(12.5rem);
    -moz-transform: rotateY(45deg) translateZ(12.5rem);
    transform: rotateY(135deg) translateZ(12.5rem);
}

.p5 {
    -webkit-transform: rotateY(180deg) translateZ(12.5rem);
    -moz-transform: rotateY(45deg) translateZ(12.5rem);
    transform: rotateY(180deg) translateZ(12.5rem);
}

.p6 {
    -webkit-transform: rotateY(225deg) translateZ(12.5rem);
    -moz-transform: rotateY(45deg) translateZ(12.5rem);
    transform: rotateY(225deg) translateZ(12.5rem);
}

.p7 {
    -webkit-transform: rotateY(270deg) translateZ(12.5rem);
    -moz-transform: rotateY(45deg) translateZ(12.5rem);
    transform: rotateY(270deg) translateZ(12.5rem);
}

.p8 {
    -webkit-transform: rotateY(315deg) translateZ(12.5rem);
    -moz-transform: rotateY(45deg) translateZ(12.5rem);
    transform: rotateY(315deg) translateZ(12.5rem);
}

/* Contact*/
#Contact {
    background-image: url(../images/KEEP\ IN\ TOUCH.webp);
    background-position: top 6% right 45%;
    background-repeat: no-repeat;
    padding-left: 12%;
    padding-right: 12%;
    padding-bottom: 2%;
    padding-top: 2%;

}

#Contact img {
    width: 35%;
}

/* Pulse */
@keyframes pulse {
    25% {
        transform: scale(1.1);
    }

    75% {
        transform: scale(.9);
    }
}

.pulse {
    display: inline-block;

}

.pulse:hover {
    animation-name: pulse;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

footer {
    background-color: #F0F6F7;
}

/* Responsive avec les medias queries */

@media screen and (max-width: 980px) {
    #Projets {
        background-image: url(../images/ALLMYWORKStablette.webp);
        background-position: top 26px right 44%;
        background-repeat: no-repeat;
    }

    #Présentation {
        background-image: url(../images/ABOUTtablette.webp);
        background-position: top 26px right 70%;
        background-repeat: no-repeat;
    }

    #Compétences {
        background-image: url(../images/SKILLS&TOOLStablette.webp);
        background-position: top 26px right 36%;
        background-repeat: no-repeat;
    }

    #Contact {
        background-image: url(../images/KEEPTOUCHtablette.webp);
        background-position: top 10px right 45%;
        background-repeat: no-repeat;
    }
}


@media screen and (max-width: 900px) {

    h1 {
        font-size: 5.5rem;
    }

    #Contact img {
        width: 50%;
    }

    #Projets img {
        height: 40vw;
    }

    .tourne {
        Top: 11.8rem;
        right: 11rem;
        width: 26rem;
    }

}

@media screen and (max-width: 650px) {
    h1 {
        font-size: 3.6rem;
    }

    h2 {
        font-size: 2.5em;
    }

    #Home h5 {
        font-size: 1.2rem;
    }

    #Projets {
        background-image: url(../images/allmyworksmobile.webp);
        background-position: top 10px left 30%;
        background-repeat: no-repeat;
    }

    #Présentation {
        background-image: url(../images/aboutmobile.webp);
        background-position: top 10px left 30%;
        background-repeat: no-repeat;
    }

    #Compétences {
        background-image: url(../images/SKILLS&TOOLSmobile.webp);
        background-position: top 10px left 50%;
        background-repeat: no-repeat;
    }

    #Contact {
        background-image: url(../images/KEEPINTOUCHmobile.webp);
        background-position: top 10px left 40%;
        background-repeat: no-repeat;
        padding-top: 8%;
    }

    .PresentationLigne {
        padding-left: 5%;
        padding-right: 5%;
    }

    .about-right img {
        padding-top: 15%;
    }

    .CompetenceLigne {
        padding-left: 5%;
        padding-right: 5%;
    }

    .ProjetLigne {
        padding-left: 5%;
        padding-right: 5%;
    }

    #Projets img {
        height: 30vh;
    }

    .tourne {
        Top: 5rem;
        right: 4rem;
        margin: 0%;
        padding: 0%;
        width: 11.5rem;
        font-size: 1.6em;
    }

    .plan img {
        width: 100px;
    }


    .p1 {
        -webkit-transform: translateZ(135px);
        -moz-transform: translateZ(135px);
        transform: translateZ(135px);
    }

    .p2 {
        -webkit-transform: rotateY(45deg) translateZ(135px);
        -moz-transform: rotateY(45deg) translateZ(135px);
        transform: rotateY(45deg) translateZ(135px);
    }

    .p3 {
        -webkit-transform: rotateY(90deg) translateZ(135px);
        -moz-transform: rotateY(45deg) translateZ(135px);
        transform: rotateY(90deg) translateZ(135px);
    }

    .p4 {
        -webkit-transform: rotateY(135deg) translateZ(135px);
        -moz-transform: rotateY(45deg) translateZ(135px);
        transform: rotateY(135deg) translateZ(135px);
    }

    .p5 {
        -webkit-transform: rotateY(180deg) translateZ(135px);
        -moz-transform: rotateY(45deg) translateZ(135px);
        transform: rotateY(180deg) translateZ(135px);
    }

    .p6 {
        -webkit-transform: rotateY(225deg) translateZ(135px);
        -moz-transform: rotateY(45deg) translateZ(135px);
        transform: rotateY(225deg) translateZ(135px);
    }

    .p7 {
        -webkit-transform: rotateY(270deg) translateZ(135px);
        -moz-transform: rotateY(45deg) translateZ(135px);
        transform: rotateY(270deg) translateZ(135px);
    }

    .p8 {
        -webkit-transform: rotateY(315deg) translateZ(135px);
        -moz-transform: rotateY(45deg) translateZ(135px);
        transform: rotateY(315deg) translateZ(135px);
    }

    #wrapper {
        width: 100%;
    }

    .carrousel {
        padding-top: 0%;
        padding-bottom: 55%;
    }

    .line1 {
        top: 22%;
        left:62%;
      }
    
      @keyframes example {
        from  {width: 2px;}
        to {width: 100px;}
      }
    
      .line3 {
        top: 10%;
        left:2%;
      }
    
      @keyframes example3 {
        from  {height: 2px;}
        to {height: 160px;}
      }
      
      .line2 {
        bottom: 10% ;
        left: 38%;
      }
    
      @keyframes example2 {
        from  {width: 2px;}
        to {width: 130px;}
      }


}

@media screen and (max-width: 400px) {
    h1{
        padding: 12px;
    }

    .line1 {
        top: 16%;
        left:64%;
      }
    .line3 {
        top: 10%;
        left:0%;
      }
    
      @keyframes example3 {
        from  {height: 2px;}
        to {height: 150px;}
      }

      .line2 {
        bottom: 3% ;
        left: 26%;
      }
    
      @keyframes example2 {
        from  {width: 2px;}
        to {width: 130px;}
      }
}

@media screen and (max-width: 345px) {
    h1{
        padding: 5px;
    }
    .line1 {
        top: 13%;
        left:65%;
      }
      @keyframes example {
        from  {width: 2px;}
        to {width: 80px;}
      }
}